<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  </head>
  <body>
    <nav class = 'navbar navbar-default navbar-static-top'>
      <div class="container">
        <ul class="nav navbar-nav">
          <li>
            <a href="{% url 'index' %}" class="navbar-brand">Home</a>
          </li>
          <li>
            <a href="{% url 'admin:index' %}" class="navbar-link">Admin</a>
          </li>
          <li>
            <a href="{% url 'password_app:register' %}" class="navbar-link">Register</a>
          </li>
          {% if user.is_authenticated %}
            <li class = 'navbar-link'><a href="{% url 'logout' %}">Logout</a></li>
            <li class="navbar-link">
              <a href="{% url 'special' %}"> Special</a>
            </li>
          {% else %}
            <li>
               <a href="{% url 'password_app:user_login'%}">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
      {% block body_block %}
      {% endblock %}
    </div>
  </body>
</html>
